body {
    font-family: 'Arial', sans-serif;
    background-color: #02022d;
    color: white;
  }
  
  .navbar {
    background-color: #ea8603;
  }
  
  .navbar-brand {
    color: white;
  }
  
  .nav-link {
    color: white;
  }
  
  
  .hero {
    margin-top: 100px;
    padding: 50px 0;
    margin-bottom: 100px;
  }
  .hero .container .text_hero{

    text-align: start;
  }
  .hero h1 {
    font-size: 3rem;
  }
  
  .hero .highlight {
    color: #2babe2;
  }
  
  .hero p {
    font-size: 1.2rem;
  }
  
  .hero img {
    width: 60%;
  }
  
  .about {
    padding: 50px 0;
    
  }
  .about .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b0c2a;
    width: 100%;
    padding: 10px 10px 20px 50px;
    
  }
  .about .text_about{
   display:flex ;
   flex-direction: column;

  }
  .about .text_about .btn{
    width: fit-content;
    font: 2em sans-serif;
    align-self: center;
  }
  .about h2 {
    font-size: 3.5rem;
  }
  .about p{
    font-size: 1.2rem;
  }
  
  .about .highlight {
    color: #2babe2;
  }
  
  .services {
    padding: 50px 0;
    
  }
  
  .services h2 {
    font-size: 2.5rem;
  }
  
  .services .service-box {
    background-color: #0b0c2a;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
  }
  
  .service-box i {
    font-size: 3rem;
    color: #2babe2;
  }
  
  .contact {
    padding: 50px 0;
  }
  
  .contact input, .contact textarea {
    background-color: #16172d;
    border: none;
    color: white;
  }
  
  .contact .form-control {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    background-color: #2babe2;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #2191c3;
  }
  