{% load static %}

{% block title %}

{% endblock %}

{% block content %}
  <!-- About Section -->
  <section class="about" id="about">
    <div class="container">
      <div class="text_about">
        <h2>About <span class="highlight">Me</span></h2>
        <h1>I'm an English Teacher</h1>
        <h3>I teach students from different backgrounds and levels.</h3>
        <p>As a certified TESOL teacher, I bring effective teaching strategies and extensive experience to the classroom. Over the past few years, I have successfully helped students of diverse backgrounds and skill levels achieve their language goals.</p>
        <a href="tel:+212609237034" class="btn btn-primary">Join Me</a>
      </div>
      <div class="profile-image">
        <img src="{% static 'img/aboutimage.png' %}" alt="Profile Picture" class="img-fluid rounded-circle">
      </div>
    </div>
  </section>
{% endblock %}
